.header{
  background-color: aqua;
  width: 100%;
  text-align: center;
  color:slateblue;
}

.navbar{
  display: flex;  
  justify-content: flex-end;
}

a:link{
  text-decoration: none;
  background-color: rgb(202, 64, 64);
  color: white;
  
}

a:hover{
  background-color: slateblue;
  color: white;
}

a{
  color: white;
  padding: 5px;
  margin: 10px;
  border-radius: 5px;
  
}